.aplicacao {
	width: 950px;
	text-align: left;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	width: 350px;
	text-align: left;
	margin-top: 155px;
	margin-left: auto;
	margin-right: auto;
}

.form-group {
	margin-top: 10px;
}

.headerPainel {
	background-color: #E0E0E0;
	height: 25px;
	margin-top: 10px;
}
.conteudoHeaderPainel{
	margin-left: 35px;
	font-weight: bold;
}

.conteudoPainel{
	border: 1px solid #CCCCCC;
	background-color: -moz-linear-gradient(top, #CCCCCC, #EEEEEE);
}

.jumbotron {
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
}