<meta charset="UTF-8">

<div class="headerPainel">
	<div class="conteudoHeaderPainel">
		Cadastro de clientes
	</div>
	
	<div class="conteudoPainel">
		<form name="formClientes">
			<table style="width: 100%; text-align: left">
				<tr>
					<td>Nome:</td>
					<td><input type="text" ng-model="nome" style="width: 90%"></td>
					
					<td>Email:</td>
					<td><input type="text" ng-model="email" style="width: 90%"></td>
				</tr>
				<tr>
					<td>Telefone:</td>
					<td><input type="text" ng-model="telefone" style="width: 90%"></td>
					
					<td>Renda Bruta Mensal:</td>
					<td><input type="text" ng-model="rendaBrutaMensal" style="width: 90%"></td>
				</tr>
			</table>
			 
			<button class="btn btn-success"
			        style="margin-left: 40%"
			        ng-click="cadastrarCliente()">Cadastrar</button>
			 
		</form>
	</div>
	
</div>