<meta charset="UTF-8">

<div>
	<div class="headerPainel">
		<div class="conteudoHeaderPainel" style="margin-top: 115px;">
			Clientes
		</div>
		
		<div class="listagemMalaDireta">
			<form name="formListagemClientes">
			
		        <!-- A diretiva ng-if NÃO renderiza o componente no html -->
				<table class="table table-striped table-bordered" 
				       ng-if="vm.clientes.length > 0">
					<th>Nome</th>
					<th>Email</th>
					<th>Ação</th>
		            
		            <!-- Busca apenas em um campo específico -->
		            <!-- <tr ng-repeat="contato in contatos | filter: {nome: criterioDeBusca}" -->
					<tr ng-repeat="cliente in vm.clientes">
						<td>{{cliente.nome}}</td>
						<td>{{cliente.email}}</td>
						
						<td class="text-center">
					    	<a href="#/view/cadastroCliente" ng-click="vm.carregarDadosClente(cliente)"><span class="glyphicon glyphicon-pencil"></span></a>
					    	
                            <a href="#/view/cadastroCliente" style="padding-left: 10px"
                                        ng-click="vm.excluirCliente(cliente.idCliente)"> 
                                        <span class="glyphicon glyphicon-ban-circle"></span>
                            </a>
                         </td>                                  
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>	
