<meta charset="UTF-8">

<body >

	<div class="login" >
	        <div class="alert alert-danger" role="alert" ng-if="showMessage">
			   {{messageError}}
			</div>
	
			<div class="form-group">
				<label for="userName">Login</label> 
				<input type="text"
				       class="form-control" 
				       id="userName" 
				       aria-describedby="emailHelp"
					   placeholder="Nome do usuário"
					   ng-model="userName">
			</div>
	
			<div class="form-group">
				<label for="senha">Senha</label> 
				<input type="password"
					   class="form-control" 
					   id="senha" 
					   placeholder="Senha do usuário"
					   ng-model="senha">
			</div>
	
			<button class="btn btn-primary btn-block"
		            ng-click="logar(userName, senha)">Logar</button>

	</div>

</body>
</html>
